td {
    background-color: rgb(199, 188, 188);
    border: 4px solid transparent;
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s; 
    transform-origin: center; 
}

td:hover {
    transform: scale(1.5); 
}

button {
    width: 100px;
    height: 40px;
    margin: 10px;
}

.error {
    border: 1px solid red;
    background-color: rgb(203, 177, 177);
    color: red;
}

